@* leaflet.scala.html *@

@(id: String = "map", position: String = "55, 0", zoom: String = "6")

	<!-- Leaflet JS -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css"/>
	<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
	<script>

	var leafletMap = {};

	leafletMap.create = function(id, position, zoom) {

		var id = 'map';
		var pos = position || [31.505, 0];
		var z = zoom || 5;
		
		var map = L.map(id, {scrollWheelZoom:false} ).setView(pos, z);

		var classroom = 'http://{s}.tiles.mapbox.com/v3/mapbox.geography-class/{z}/{x}/{y}.png';
		var bright = 'http://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png';
		var natural = 'http://{s}.tiles.mapbox.com/v3/mapbox.natural-earth-2/{z}/{x}/{y}.png';

		var tiles = natural;

		L.tileLayer(tiles, {
			attribution: '',
			maxZoom: 18
		}).addTo(map);
	}

	leafletMap.create(@id, [@position], @zoom);
	</script>
